@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["title"] - Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @RenderSection("Css" ,required :false)
</head>
<body>
    <nav class="navbar navbar-inverse" >
        <div class="container">
            <ul class="nav navbar-nav" >
                <li a asp-controller =" Home" asp-action="Index" >Trang chủ <a/></li> 
                <li a asp-controller=" Home" asp-action="About">Giới Thiệu <a /></li>
                <li a asp-controller=" Home" asp-action="Contact">Liên Hệ <a /></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("Scripts" ,required :false)
</body>
</html>
