
@{
    ViewData["Title"] = "GetProduct";
}

<h1>GetProduct - lấy dữ liệu từ action Getproduct (dữ liệu dạng oj)</h1>
<div class="alert alert-danger">
    <p>Id : @ViewBag.product.Id</p>
    <p>Name : @ViewBag.product.Name</p>
</div>
