@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://tse1.mm.bing.net/th?id=OIP.nvyXJqGi3Fua1pmyVvY_GAHaHa&pid=Api&P=0&h=220" class="d-block w-15" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tse2.mm.bing.net/th?id=OIP.rPtYek7aXjEqF4I1R_y_RwHaHa&pid=Api&P=0&h=220" class="d-block w-15" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://tse1.mm.bing.net/th?id=OIP.L8g8GSGUswXRPmIJzpiauwHaJ4&pid=Api&P=0&h=220" class="d-block w-15" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<p>Danh sách sản phẩm</p>
<div class="d-flex justify-content-around">
<td><img class="w-25 h-25" src="https://tse1.mm.bing.net/th?id=OIP.h2vg8Vik_NCe2yJ9wszpKwHaHa&pid=Api&P=0&h=220" />

</td>
<td><img class="w-25 h-25" src="https://tse1.mm.bing.net/th?id=OIP.h2vg8Vik_NCe2yJ9wszpKwHaHa&pid=Api&P=0&h=220" />

</td>
<td><img class="w-25 h-25" src="https://tse1.mm.bing.net/th?id=OIP.h2vg8Vik_NCe2yJ9wszpKwHaHa&pid=Api&P=0&h=220" />

</td>
<td><img class="w-25 h-25" src="https://tse1.mm.bing.net/th?id=OIP.h2vg8Vik_NCe2yJ9wszpKwHaHa&pid=Api&P=0&h=220" />

</td>
<td><img class="w-25 h-25" src="https://tse1.mm.bing.net/th?id=OIP.h2vg8Vik_NCe2yJ9wszpKwHaHa&pid=Api&P=0&h=220" />
</td>
</div>
<p class="">Quản lý sản phẩm</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Createdt</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000</td>
            <td>25-12-2020</td>
            <td><img class="w-25 h-25" src="https://images.unsplash.com/photo-1692490157194-397cc8cf2392?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlQzMlQkFpJTIwcyVDMyVBMWNofGVufDB8fDB8fHww" /></td>
            <td> <button class="btn btn-success">View</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000</td>
            <td>25-12-2020</td>
            <td><img class="w-25 h-25" src="https://images.unsplash.com/photo-1692490157194-397cc8cf2392?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlQzMlQkFpJTIwcyVDMyVBMWNofGVufDB8fDB8fHww" /></td>
            <td> <button class="btn btn-success">View</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000</td>
            <td>25-12-2020</td>
            <td><img class="w-25 h-25" src="https://images.unsplash.com/photo-1692490157194-397cc8cf2392?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlQzMlQkFpJTIwcyVDMyVBMWNofGVufDB8fDB8fHww" /></td>
            <td> <button class="btn btn-success">View</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000</td>
            <td>25-12-2020</td>
            <td><img class="w-25 h-25" src="https://images.unsplash.com/photo-1692490157194-397cc8cf2392?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlQzMlQkFpJTIwcyVDMyVBMWNofGVufDB8fDB8fHww" /></td>
            <td> <button class="btn btn-success">View</button></td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>Product 1</td>
            <td>500.000</td>
            <td>25-12-2020</td>
            <td><img class="w-25 h-25" src="https://images.unsplash.com/photo-1692490157194-397cc8cf2392?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fHQlQzMlQkFpJTIwcyVDMyVBMWNofGVufDB8fDB8fHww" /></td>
            <td> <button class="btn btn-success">View</button></td>
        </tr>

    </tbody>
</table>
